
///////////////////////////////////// palette
grade-grey = #F4F4F4
grade-dark-grey= #424242
grade-light-grey= #fafafa



grade-blue = #26699A

grade-cyan = #00BCD4
grade-light-cyan = #80deea
grade-dark-cyan = #0097A7

grade-yellow = #FFC107
grade-light-yellow = #FFDF82
grade-dark-yellow = #FFA000
grade-bright-yellow= #FFFF7A

grade-red = #E41C23
grade-light-red = #f69988
grade-dark-red = #CF1715

grade-teal = #009587
grade-light-teal = #80cbc4
grade-dark-teal = #207368




///////////////////////////////////// themes

grade = {
  bg : grade-grey
  fg : grade-dark-grey
}


themes = {

  home :{
    
    primary : grade-blue
    secondary: grade-grey
    selection: grade-light-grey
    
    
  }
  
  prod : {
    
    primary : grade-cyan
    secondary : grade-dark-cyan
    tertiary: grade-light-cyan
    
  }
  
  deck : {
    primary : grade-yellow
    secondary : grade-dark-yellow
    tertiary : grade-light-yellow
  }
  
  tasks : {
    primary : grade-red
    secondary : grade-dark-red
    tertiary: grade-light-red
  }
  
  stage : {
    primary : grade-teal
    secondary : grade-dark-teal
    tertiary: grade-light-teal
  }
}

///////////////////////////////////// theme classes

grade-classes = {


  "[trim]" : {
  
    padding:0px
    margin:0px
    
  }

  "[framing]" : {
  
    background: grade-light-grey
    border: 0px
  }
  
  "[hide]" : {
  
    visibility:hidden
  }

  "[small-spaced]" : {
  
    margin:5px
  }
  
  "[spaced]" : {
         
     margin :10px

  }
  
  
  "[inset]" : {
    padding: 5px
  }
  
  "[filled]" : {
     background : grade-light-grey
  }
  
  "[filled-blue]" : {
     background : grade-light-blue
  }
        
  "[wired]" : {
     border:2px solid grade-grey
  }
  
  "[wired-blue]" : {
     border:2px solid grade-blue
  } 
  
  "[rounded]" : {
          
     border-radius:5px
  }

  "[large]" : {
         
     font-size : xx-large
  }
           
  "[larger]" : {
         
     font-size :larger
  }
  
  "[bolder]" : {
         
     font-weight : bolder
  }
  
  "[smaller]" : {
         
     font-size :smaller
  }
  
   "[lighter]" : {
         
     font-weight : lighter
  }
  
  "[small]" : {
         
     font-size :x-small
  }
  
  "[truncate]" : {
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  }
         
  "[scrollable]" : {
         
       min-width : 640px  
       overflow : auto
   }
   
   "[bg-selected] /deep/ core-icon" : {
      color: grade-bright-yellow
   }
   
    "[fascia-title]" :  {
      
      font-weight : bolder
     
     }
    
     "[fascia-subtitle]" : {
      
        font-size : x-small
          
     }
      
     "[smallicon]" : {
        
          margin:5px
          height:12px
          width:12px
          min-width:12px
        
       }
       
}

theme-classes = {
    
    "[bg]" : {
        background : "primary"
    }
    
    "[fg]" : {
        color : "primary"
    }
    
    "[bg-alt]" : {
        background : "secondary"
    }
    
    "[fg-alt]" : {
        color : "secondary"
    }
    
    "[bg-selected]" : {
      background : "tertiary"
      color :  white
    }
    
    "[header]" : {
      background : grade-grey
      color : "primary"
    }
    
    "paper-progress::shadow #activeProgress" : {
      background-color: "primary"
    }
    
   "paper-tabs::shadow #selectionBar" : {
      background-color: "primary"
    }
    
    "paper-tabs paper-tab::shadow #ink" : {
      color: "tertiary"
    }
    
    
  //buttons
  
     "[button]" : {
    
      margin-left: 2px
      margin-right: 2px
      font-size: smaller
      background : "primary"
      color:white
    }
    
    
    "[paper-button::shadow #ripple]" : {
      color : grade-bright-yellow
    }

  // inputs 

  "paper-input[focused]::shadow .floated-label .label-text" : {
      color : "secondary"
  }
  
  "paper-input::shadow .focused-underline" : {
      background-color : "primary"
  }
  
  "paper-input::shadow .cursor" : {
      background-color : "primary"
  }
  
  "paper-input.invalid[focused]::shadow .floated-label" : {
       color: grade-red
  }
  
  "paper-input[focused]::shadow .error-text" : {
       color: grade-red
  }
  
  "paper-input[focused]::shadow .error-icon" : {
       color: grade-red
  }
  
  "paper-input.invalid::shadow .focused-underline" : {
      background-color: grade-light-red
  }
  
  "paper-input.invalid::shadow .cursor" : {
      background-color: grade-light-red
  }
  
  "paper-input.invalid::shadow .cursor" : {
      background-color: grade-light-red
  }
}


for name,class in grade-classes
   :host /deep/ {name} 
       for prop, val in class
         {prop} : val
             

//def generation
for theme-name,t in themes

 .{theme-name}-scaffold
    background : t.primary
    color: white

 for name,class in theme-classes
    :host /deep/ .{theme-name} /deep/ {name} 
         for prop, val in class
            if val in t
             {prop} : t[val]
            else
             {prop} : val
                            
        
    
 
 



///////////////////////////////////// general

:host
   
    height:100%;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    background: red;
    color:grade.fg;
  
     core-pages > :not(.core-selected) /deep/ core-pages > .core-selected {
       visibility: hidden;
     }
