
///////////////////////////////////// palette
grade-grey = #F4F4F4

grade-blue = #26699A

grade-cyan = #00BCD4
grade-dark-cyan = #0097A7

grade-yellow = #FFC107
grade-dark-yellow = #FFA000

grade-red = #E41C23
grade-dark-red = #CF1715

grade-teal = #009587
grade-dark-teal = #207368




///////////////////////////////////// themes

grade = {
  bg : grade-grey
  fg : white
}

home = {
  primary : grade-blue
}

repo = {
  primary : grade-cyan
  secondary : grade-dark-cyan
  marker : repo-theme
}

deck = {
  primary : grade-yellow
  secondary : grade-dark-yellow
  marker: deck-theme
}

tasks = {
  primary : grade-red
  secondary : grade-dark-red
  marker: tasks-theme
}

stage = {
  primary : grade-teal
  secondary : grade-dark-teal
  marker: stage-theme
}


///////////////////////////////////// theme classes

theme-classes = {
    
    bg : {
        background : "primary"
    }
    
    bg-alt : {
        background : "secondary"
    }

}


themes = home repo deck tasks stage



//def generation
for t, pos in themes

 .theme-{pos}
    background : t.primary
      
 if t.marker
  for name,class in theme-classes
    :host /deep/ .{t.marker} /deep/ .{name} 
         for prop, val in class
           {prop} : t[val]
        
    
 
 



///////////////////////////////////// general

:host
   
    height:100%;
    
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    
    background: grade.bg;
    color:grade.fg;
  
  

 .hidden
    visibility: hidden
  
  .bigger
    font-size:1.5em
  
  .smaller
    font-size:11px
    font-weight: normal
