
///////////////////////////////////// palette
grade-grey = #F4F4F4
grade-light-grey= #eeeeee


grade-blue = #26699A

grade-cyan = #00BCD4
grade-light-cyan = #80deea
grade-dark-cyan = #0097A7

grade-yellow = #FFC107
grade-light-yellow = #FFDF82
grade-dark-yellow = #FFA000

grade-red = #E41C23
grade-light-red = #f69988
grade-dark-red = #CF1715

grade-teal = #009587
grade-light-teal = #80cbc4
grade-dark-teal = #207368




///////////////////////////////////// themes

grade = {
  bg : grade-grey
  fg : grade-blue
}


themes = {

  home :{
    
    primary : grade-blue
    secondary: grade-grey
    selection: grade-light-grey
  }
  
  repo : {
    primary : grade-cyan
    secondary : grade-dark-cyan
    selection: grade-light-cyan
  }
  
  deck : {
    primary : grade-yellow
    secondary : grade-dark-yellow
    selection : grade-light-yellow
  }
  
  tasks : {
    primary : grade-red
    secondary : grade-dark-red
    selection: grade-light-red
  }
  
  stage : {
    primary : grade-teal
    secondary : grade-dark-teal
    selection: grade-light-teal
  }
}

///////////////////////////////////// theme classes

:host /deep/ [hide] {
  visibility:hidden
}

grade-classes = {
  
  small-spaced : {
    margin-top: 5px
    margin-bottom: 5px
  }
  
  spaced: {
         
     margin:10px
  }
  
  inset : {
    padding: 10px
  }
  
  filled : {
     background : grade-light-grey
  }
        
  wired : {
     border:2px solid grade-light-grey
  } 
        
  bleed : {
          
     height:100%
  }
  
  rounded : {
          
     border-radius:5px
  }

  large : {
         
     font-size : xx-large
  }
           
  larger : {
         
     font-size :larger
  }
  
  smaller : {
         
     font-size :smaller
  }
  
  small : {
         
     font-size :x-small
  }
         
  scrollable : {
         
       min-width : 700px  
       overflow : scroll
   }
}

theme-classes = {
    
    bg : {
        background : "primary"
    }
    
    fg : {
        color : "primary"
    }
    
    bg-alt : {
        background : "secondary"
    }
    
    fg-alt : {
        color : "secondary"
    }
    
    selection : {
      background : "selection"
    }

}


for name,class in grade-classes
   :host /deep/ [{name}] 
       for prop, val in class
         {prop} : val
             

//def generation
for theme-name,t in themes

 .{theme-name}-scaffold
    background : t.primary
    color: white

 for name,class in theme-classes
    :host /deep/ .{theme-name} /deep/ [{name}] 
         for prop, val in class
            if val in t
             {prop} : t[val]
            else
             {prop} : val
                            
        
    
 
 



///////////////////////////////////// general

:host
   
    height:100%;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    background: grade.bg;
    color:grade.fg;
  

