name: grade_console
description: Grade's Administrative Console
dependencies:
  browser: any
  polymer: any
  core_elements: any
  paper_elements: any
  di: ">=3.1.0 <4.0.0"
  logging: ">=0.9.2 <0.10.0"
  event_bus: any

transformers:
- polymer
- di