name: grade_console
description: Grade's Administrative Console
dependencies:
  browser: any
  polymer: any
  core_elements: any
  paper_elements: any
  di: ">=3.1.0 <4.0.0"
  logging: ">=0.9.2 <0.10.0"
  event_bus: any
  intl: any
  stylus: any
  collection: any
  codemirror: "0.1.6+4.12.0"
  script_inliner: any
  csv_configuration_guesser: any
  
dependency_overrides: 
  args: any #workaround to pub infinite loop

transformers:
- polymer:
    inline_stylesheets:
      packages/codemirror/codemirror.css: false
- di
- script_inliner